.country{
    border: 2px solid green;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    line-height: 0;

}
.visited{
    background-color: rgba(20, 73, 219, 0.352);
    border: 2px solid black;
}